article.advertisement
  margin-bottom: 1em
  padding: 1em 0
  border-bottom: 1px solid lightblue
  h1, h2
    margin-bottom: 0
  section.advertisement-summary
    padding: 1em 0
  section.advertisement-body
    padding: 1em 0

nav.pagination
  padding: 2em 0
  ul
    padding: 0
    list-style: none
    display: flex
