h1
  = t('models.categories')
table.table
  thead.thead-light
    tr
      th[scope="col"]
        | #
      th[scope="col"]
        = t('models.category')
      th[scope="col"]
        = t('models.advertisements')
      th[scope="col"]
  tbody
    - @categories.each_with_index do |category, index|
      tr
        th[scope="row"]
          = index + 1
        td
          = link_to t("attributes.category.id.#{category.id}"), category_path(category)
        td
          = category.advertisements.count
        td
          = link_to t('common.edit'), edit_category_path(category), class: 'btn btn-warning'
          = link_to t('common.delete'), category_path(category), class: 'btn btn-danger',
                         method: :delete,
                         data: { confirm: 'Are you sure?' }
= link_to t('category.create'), new_category_path, class: 'btn btn-primary'
